a span{
    display:none; /* Aqui você define que todo SPAN que estiver dentro de um A estará invisível */
}
a:hover span{
    display:block; /* Aqui você diz que ao passar o mouse sobre o link, colocar um display no span dentro desse link */
    position:absolute; /* Para você poder posicionar ao queira, sem quebrar o layour em volta */
    top: 0px; /* Para ficar na mesma altura do link */
    left: 47%; /* Empurra a imagem para fora do link, ficando ao seu lado */
    border:1px #CCCCCC solid; /* Estilo extra, lembrando que você pode colocar qualquer estilo nesse elemento */
    border: none;
}


.img1{
    width:160px;
    height: 155px;
    margin: 101%;
}
.img2{
    width:140px;
    height: 135px;
    margin: 104%;
}
